{{& skin/parts/top.tpl.html }}

{{%
struct Data {
	string title;
	string titleOwned;
	string titleModerated;
	string titleRead;
	Blog[] blogsOwned;
	Blog[] blogsModerated;
	Blog[] blogsRead;
	bool showBtnNewBlog;
	bool writingMode;
}
Data d = loadTplData!Data(_arguments);
}}

<div class="blogslist">
	{{? d.showBtnNewBlog }}
		{{% string url = d.writingMode ? App.url!"NewBlog"~"?write" : App.url!"NewBlog"; }}
		<a class="sideaction plus" href="{{ url }}">{{ say!"blogs/new blog" }}</a>
	{{/}}
	
	<h1>{{ d.title }}</h1>
	
	{{%
		alias Tuple!(string, "title", Blog[], "blogs") Sublist;
		Sublist[] sublists = [
			Sublist(d.titleOwned, d.blogsOwned),
			Sublist(d.titleModerated, d.blogsModerated),
			Sublist(d.titleRead, d.blogsRead),
		];
	}}
	{{* Sublist sublist; sublists }}
		{{? sublist.blogs.length > 0 }}
			
			<h2>{{ sublist.title }}</h2>
			<ul>
			{{* Blog blog; sublist.blogs }}
				{{% string url = d.writingMode ? App.url!"NewPost"(["name":blog.name]) : App.router.makeLink(blog); }}
				
				<li>
					<a href="{{ url }}">
						<img class="avatar" src="{{ blog.userpicUrl }}" alt=":-)"/>
						<span class="{{ blog.isClub ? "club" : "user" }}">{{ blog.name }}</span>
						{{? blog.isClub }}
							<span class="numoffollowers">{{ say!"blogs/n members"(blog.numOfFollowers()) }}</span>
						{{:}}
							<span class="numoffollowers">{{ say!"blogs/n readers"(blog.numOfFollowers()) }}</span>
						{{/}}
					</a>
				</li>
			{{/}}
			</ul>
		{{/}}
	{{/}}
</div>

{{& skin/parts/bottom.tpl.html }}