{{& skin/parts/top.tpl.html }}

{{%
struct Data {
	Blog blog;
	Entry[] entries;
	TwoWayPaginator paginator;
}
Data d = loadTplData!Data(_arguments);
}}

<div class="visitcard">
	<table>
		<tr>
			<td class="right">
				<h1{{?d.blog.isClub}} class="club"{{/}}>
					{{ d.blog.title }}
					
					{{?! App.ram.isnull_user_id() }}
						{{? App.ram.user_id != d.blog.owner_id && App.ram.user.follows(d.blog) }}
							<a class="love active" data-blog="{{ d.blog.name }}" href="#"></a>
						{{: App.ram.user_id != d.blog.owner_id }}
							<a class="love" data-blog="{{ d.blog.name }}" href="#"></a>
						{{/}}
					{{/}}
				</h1>
				
				{{ d.blog.description }}
				
				<div class="meta">
					{{ say!"blogs/i have n followers"(d.blog.numOfFollowers()) |none}}<br/>
					
					{{? Access.canChangeSettings(d.blog) }}
						<a href="{{ App.url!"BlogSettings"(["name":d.blog.name]) }}">{{ say!"blogs/blog settings" }}</a>
					{{/}}
				</div>
				
				{{? d.blog.isClub }}
					<p>
						<a class="submit big" href="{{ App.url!"NewPost"(["name":d.blog.name]) }}">{{ say!"blogs/write to this blog" }}</a>
					</p>
				{{/}}
			</td>
		</tr>
	</table>
</div>
		
{{* post; d.entries }}
	{{% bool showClubInMeta = false; }}
	{{% bool showComments = false; }}
	{{& skin/parts/post.tpl.html }}
{{/}}

{{& skin/parts/twowaypaginator.tpl.html }}
{{& skin/parts/bottom.tpl.html }}