{{% import std.format; }}
{{% import std.regex; }}

{{%
struct Data { Blog blog; }
Data d = loadTplData!Data(_arguments);
}}

{{& skin/parts/microtop.tpl.html }}

<p>{{ say!"blogs/confirm deletion p1" }}</p>

{{? !d.blog.name.match(ctRegex!`^ya:`) }}
	<p>{{ say!"blogs/confirm deletion p2".format(d.blog.name) }}</p>
{{/}}

<p>{{ say!"blogs/confirm deletion p3" }}</p>

<form method="POST">
	<label><input type="checkbox" name="ok"> {{ say!"blogs/yes delete blog" }}</label>
	<br/>
	<input type="submit" class="big" value="{{ say!"blogs/delete blog" }}"/>
</form>

</div>
</div>

{{& skin/parts/bottom.tpl.html }}