{{& skin/parts/top.tpl.html }}

{{% import std.utf; }}

{{%
alias Tuple!(User, "user", Entry, "entry", bool, "unread") ReplyInfo;
struct Data {
	ReplyInfo[] replies;
	TwoWayPaginator paginator;
}
Data d = loadTplData!Data(_arguments);
}}

<div class="inbox">
	{{! <a class="sideaction" href="#">{{ say!"inbox/mark all read" }}</a> }}
	
	<h1>{{ say!"inbox/title" }}</h1>
	<table>
		<tr>
			<th>{{ say!"inbox/topic" }}</th>
			<th>{{ say!"inbox/author" }}</th>
			<th>{{ say!"inbox/comment" }}</th>
		</tr>
		
		{{* info; d.replies }}
			{{% Entry root = info.entry.rootParent(); }}
			{{% string snippet =  info.entry.toPlain(); }}
			{{? std.utf.count(snippet) > 50 }}
				{{% snippet = snippet[0..snippet.toUTFindex(50)] ~ "»»»"; }}
			{{/}}
			{{% snippet = std.xml.encode(snippet); }}
			
			<tr{{?info.unread}} class="unread"{{/}}>
				<td><a href="{{ App.router.makeLink(root) }}">{{ root.title }}</a></td>
				<td><a href="{{ App.router.makeLink(info.user) }}" class="user">{{ info.user.nick }}</a></td>
				<td><a href="{{ App.router.makeLink(info.entry) }}">{{ snippet }}</a></td>
			</tr>
			
		{{/}}
	</table>
</div>

{{& skin/parts/twowaypaginator.tpl.html }}
{{& skin/parts/bottom.tpl.html }}