{{%
import std.format;

struct Data {
	bool registerMode;
	string email;
	string password;
	string nick;
	bool gotEmpty;
	bool incorrect;
	bool notUnique;
	bool shortPassword;
}
Data d = loadTplData!Data(_arguments);
}}

{{!
App.rt.titleHtml =
	`<a href="` ~ App.url!"Login" ~ `" class="pseudobold" id="tab-login">{{ say!"login/title" }}</a>`
	~ ` | <a href="` ~ App.url!"Register" ~ `" class="dotted" id="tab-register">{{ say!"signup/title" }}</a>`;
}}

{{% if (d.gotEmpty)      App.rt.messages ~= say!"signup/all fields are required"; }}
{{% if (d.incorrect)     App.rt.messages ~= say!"signup/incorrect login or password"; }}
{{% if (d.notUnique)     App.rt.messages ~= say!"signup/email is taken"; }}
{{% if (d.shortPassword) App.rt.messages ~= say!"signup/password is too short"; }}

{{& skin/parts/microtop.tpl.html }}

<form method="POST" id="form-login" action="{{ App.url!"Login" }}" {{?d.registerMode}} style="display:none;"{{/}}>
	<table>
		<tr>
			<td>{{ say!"login/email" }}:</td>
			<td><input type="text" name="email"
				placeholder="{{ say!"login/email placeholder" }}"
				{{?d.email}}value="{{d.email}}"{{/}}/></td>
		</tr>
		<tr>
			<td>{{ say!"login/password" }}:</td>
			<td><input type="password" name="password" placeholder="***"/></td>
		</tr>
	</table>
	
	<input type="hidden" name="ok" value="ok"/>
	<input type="submit" class="big" value="{{ say!"login/ok" }}"/>
</form>

<form method="POST" id="form-register" action="{{ App.url!"Register" }}" {{?!d.registerMode}} style="display:none;"{{/}}>
	<p>{{ say!"signup/welcome to signup form" }}</p>
	<table>
		<tr>
			<td>{{ say!"signup/email" }}:</td>
			<td><input type="email" name="email"
				placeholder="{{ say!"signup/email placeholder" }}"
				{{?d.email}}value="{{d.email}}"{{/}}/></td>
		</tr>
		<tr>
			<td>{{ say!"signup/password" }}:</td>
			<td><input type="password" name="password"
				placeholder="{{ say!"signup/password placeholder".format(8) }}"
				{{?d.password}}value="{{d.password}}"{{/}}/></td>
		</tr>
		<tr>
			<td>{{ say!"signup/nick" }}:</td>
			<td><input type="text" name="nick"
				placeholder="{{ say!"signup/nick placeholder" }}"
				{{?d.nick}}value="{{d.nick}}"{{/}}/></td>
		</tr>
	</table>
	
	<input type="hidden" name="ok" value="ok"/>
	<input type="submit" class="big" value="{{ say!"signup/ok" }}"/>
</form>

</div>

{{% string oauthUrl = "https://oauth.yandex.ru/authorize?response_type=code&client_id="~Config.external.YandexClientId; }}
<div class="antiroof" {{?d.registerMode}} style="display:none;" {{/}}>
	{{ say!"signup/you can use yandex".format(oauthUrl) |none}}
</div>
</div>

{{& skin/parts/bottom.tpl.html }}