{{% import std.string; }}

{{& skin/parts/microtop.tpl.html }}

{{%
struct Data { string title; string text; }
Data d = loadTplData!Data(_arguments);
}}

<p>{{ d.text.replace("\n", "</p>\n<p>") |none}}</p>

</div>
</div>

{{& skin/parts/bottom.tpl.html }}