{{%
struct Data {
	bool isNewBlog;
	Blog blog;
	string urlPrefix;
	string urlPostfix;
}
Data d = loadTplData!Data(_arguments);
}}

{{& skin/parts/microtop.tpl.html }}

<form method="POST" enctype="multipart/form-data">
	<table>
		{{? d.isNewBlog }}
		<tr>
			<td>{{ say!"newblog/url" }}:</td>
			
			{{? d.urlPrefix.length }} <td class="prefix">{{ d.urlPrefix }}</td> {{/}}
			
			<td {{? d.urlPrefix.length && d.urlPostfix.length }}
				{{: d.urlPrefix.length || d.urlPostfix.length }} colspan="2"
				{{:}} colspan="3"
			{{/}}><input type="text" name="name" value="{{ d.blog.name }}"
				placeholder="{{ say!"newblog/url placeholder" }}" /></td>
			
			{{? d.urlPostfix.length }} <td class="postfix">{{ d.urlPostfix }}</td> {{/}}
		</tr>
		{{/}}
		
		<tr>
			<td>{{ say!"newblog/title" }}:</td>
			<td colspan="3"><input type="text" name="title" value="{{ d.blog.title }}"
				placeholder="{{ say!"newblog/title placeholder" }}" /></td>
		</tr>
		
		<tr>
			<td>{{ say!"newblog/description" }}:</td>
			<td colspan="3"><textarea name="description" placeholder="{{ say!"newblog/description placeholder" }}"
				>{{ d.blog.description }}</textarea></td>
		</tr>
		
		<tr>
			<td>{{ say!"newblog/userpic" }}:</td>
			<td colspan="3"><input type="file" name="avatar" accept="image/jpeg,image/png,image/gif"/></td>
		</tr>
		
		<tr>
			<td>{{ say!"newblog/type" }}:</td>
			<td colspan="3">
				
				<label class="bigradio">
					<input type="radio" name="type" value="Personal" {{?d.blog.type==Blog.Type.Personal}}checked{{/}}/>
					<div class="short">{{ say!"newblog/type/personal" }}</div>
					<div class="details">{{ say!"newblog/type/personal/description" }}</div>
				</label>
				
				<label class="bigradio">
					<input type="radio" name="type" value="Premoderated" {{?d.blog.type==Blog.Type.Premoderated}}checked{{/}}/>
					<div class="short">{{ say!"newblog/type/premoderated" }}</div>
					<div class="details">{{ say!"newblog/type/premoderated/description" }}</div>
				</label>
				
				<label class="bigradio">
					<input type="radio" name="type" value="Public" {{?d.blog.type==Blog.Type.Public}}checked{{/}}/>
					<div class="short">{{ say!"newblog/type/public" }}</div>
					<div class="details">{{ say!"newblog/type/public/description" }}</div>
				</label>
			</td>
		</tr>
	</table>
	
	<input type="hidden" name="ok" value="ok"/>
	
	{{? d.isNewBlog }}
		<input type="submit" class="big" value="{{ say!"newblog/ok create" }}"/>
	{{:}}
		<input type="submit" class="big" value="{{ say!"newblog/ok save" }}"/>
	{{/}}
</form>

</div>
</div>

{{& skin/parts/bottom.tpl.html }}