{{& skin/parts/top.tpl.html }}

{{% import liara.parser; }}

{{%
struct Data {
	Entry post;
	string newTitle;
	string newContent;
}
Data d = loadTplData!Data(_arguments);
}}

<table class="comparing-articles">
	<tr>
		<td>
			<div class="article">
				<div class="background"></div>
				<div class="shadow"></div>
				<div class="postmeta">Оригинальная версия</div>
				<div class="part1">
					<div class="part1-internal">
						<div class="content">
							<h2>{{ d.post.title }}</h2>
							<p>{{ d.post.content }}</p>
						</div>
					</div>
				</div>
			</div>
		</td>
		<td>
			<div class="article">
				<div class="background"></div>
				<div class="shadow"></div>
				<div class="postmeta">Предпросмотр новой версии</div>
				<div class="part1">
					<div class="part1-internal">
						<div class="content">
							<h2>{{ d.newTitle }}</h2>
							{{ parseLiara(d.newContent, new EntryParserParams(d.post.blog)).htmlOutput }}
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>

{{& skin/parts/bottom.tpl.html }}