{{& skin/parts/top.tpl.html }}

{{% static import std.xml; }}

{{%
struct Data { Entry post; }
Data d = loadTplData!Data(_arguments);
}}

{{? d.post.syntax == Entry.Syntax.Html }}
	<div class="notification">
		Поздравляем! Запись сконвертирована из HTML в Ongra Text, но ещё не сохранена.
		Пожалуйста, самостоятельно убедитесь, что конвертация прошла успешно,
		и при необходимости вручную отредактируйте сложные фрагменты.
		<br/><br/>
		Для проверки вида записи «до» и «после» рекомендуем пользоваться
		специальным режимом просмотра, доступным по кнопке «Сравнить с исходником».
		<br/><br/>
		Если автоматический конвертер допускает слишком много ошибок,
		обсудите это с <a class="user" href="{{ App.url!"Blog"(["name":"max"]) }}">Максом</a>.
	</div>
{{/}}

<form class="write" method="POST">
	<div class="article">
		<div class="background"></div>
		<div class="shadow"></div>
		<div class="postmeta">
			{{% string userLink = App.router.makeLink(App.ram.user); }}
			<a class="avatar" href="{{ userLink }}"><img src="{{ App.ram.user.primaryUserpicUrl() }}"/></a>
			<a class="user" href="{{ userLink }}">{{ App.ram.user.nick }}</a>
			{{? d.post.blog.id != App.ram.user.primaryBlog.id }} в блоге {{ d.post.blog.htmlLink() }} {{/}}
		</div>
		<div class="part1">
			<div class="part1-internal">
				<div class="content">
					<h2><input type="text" name="title" placeholder="{{ say!"write/title placeholder" }}"
						value="{{ std.xml.encode(d.post.title) }}"/></h2>
					<p><textarea name="content" placeholder="{{ say!"write/body placeholder" }}"
						>{{ (d.post.syntax == Entry.Syntax.Html) ? htmlToLiara(d.post.content) : d.post.content
					}}</textarea></p>
				</div>
				<div class="tags">
					{{* tag; d.post.tags }}
						<span>{{ tag }} <a href="#"></a><input type="hidden" name="tags[]" value="{{ tag }}"/></span>
					{{/}}
					<input type="text" placeholder="{{ say!"write/add tag" }}"/>
				</div>
			</div>
			<div class="leftlinks">
			</div>
		</div>
	</div>
	
	<div style="text-align:center;">
		{{? d.post.syntax == Entry.Syntax.Html }}
			<button class="compare-with-html">Сравнить с исходником</button>
		{{/}}
		<input type="hidden" name="blog" value="{{ d.post.blog ? d.post.blog.name : "" }}"/>
		<input type="hidden" name="action" value="save"/>
		<input type="submit" value="{{ say!"write/ok" }}"/>
	</div>
</form>

{{& skin/parts/bottom.tpl.html }}