<!doctype html>
<head>
	<meta charset="utf-8"/>
	<title>Ж.ongra.net</title>
	<link rel="stylesheet" type="text/css" href="{{ App.url!"Static" }}/ongra.css"/>
	<meta name="robots" content="noindex"/>
</head>

<div style="text-align:center;padding-top:10rem;">
	<img alt="Ж.ongra.net" src="{{ App.url!"Static" }}/img/zh.png"/>
	<p>Через это у нас тут всё работает.</p>
	<p><a href="{{ App.url!"Main" }}">На главную</a></p>
</div>