// Sizes
@ArticleImageMarginBottom: 1.5rem;
@ArticlePaddingBottom: 1rem;
@ArticlePaddingLeft: 0.5rem;
@ArticlePaddingRight: 0.5rem;
@ArticlePaddingTop: 1rem;
@ArticleParagraphInterval: 0.5rem;
@ArticleUlBulletWidth: 1.3rem;
@ArticleUlMargin: 1rem;
@AvatarRadius: 0.2rem;
@AvatarSize: 2.2rem;
@CutPaddingVertical: 0.5rem;
@MicroPagePaddingVertical: 1rem;
@MicroPageWidth: 30rem;
@MetaHeight: 1.4rem;
@MetaPaddingRight: 0.3rem;
@MicroAvatarPadding: 0.5rem;
@MicroAvatarRadius: 0.15rem;
@MicroAvatarSize: 1.8rem;
@MicroMetaHeight: 1rem;
@ModerationStripesInterval: 0.15rem;
@OuterButtonInterval: 0.3rem;
@OuterButtonMargin: 0.5rem;
@OuterButtonOverlaySize: 0.7rem;
@OuterButtonSize: 1.5rem;
@PlayerArtistFontSize: 0.9rem;
@PlayerArtistMarginBottom: 1rem;
@PlayerBorderRadius: 0.2rem;
@PlayerButtonSize: 1.5rem;
@PlayerCoverPadding: 0.8rem;
@PlayerPaddingVertical: 0.3rem;
@PlayerPaddingHorizontal: 0.6rem;
@PlayerProgressHeight: 0.5rem;
@PlayerTitleFontSize: 1.5rem;
@PlayerTitleMarginBottom: 0.5rem;
@ReplyFontSize: 0.85rem;
@ReplyIndent: 1rem;
@ReplyInterval: 1rem;
@ReplyPaddingBottom: 0.3rem;
@ReplyPaddingTop: 0rem;
@ReplyParagraphInterval: 0.2rem;
@RoofBorderRadius: 0.3rem;
@RoofButtonPadding: 0.7rem;
@RoofMarginBottom: 1.5rem;
@RoofMarginTop: 0.5rem;
@RoofPaddingRight: 1rem;
@RoofPaddingBottom: 0.4rem;
@RoofPaddingLeft: 1rem;
@RoofPaddingTop: 0.6rem;
@RoofSize: 3.5rem;
@SheetBorderRadius: 0.2rem;
@SheetMarginBottom: 1rem;
@SheetMaxWidth: 55rem;
@SheetShadowSize: 0.3rem;
@TagBlockMargin: 1rem;
@TagFontSize: 0.7rem;
@TagMarginHorizontal: 0.2rem;
@TagPaddingHorizontal: 0.2rem;
@TagPaddingVertical: 0.1rem;
@TagShadowSize: 0.2rem;
@VisitCardBorderRadius: 0.3rem;
@VisitCardMarginBottom: 1.5rem;
@VisitCardPaddingBottom: 1.5rem;
@VisitCardPaddingCenter: 1.5rem;
@VisitCardPaddingRight: 1.5rem;

// Sizes that are calculated from above
@AvatarOut: (@AvatarSize - @MetaHeight) / 2;
@MicroAvatarOut: (@MicroAvatarSize - @MicroMetaHeight) / 2;
@PlayerCoverSize: @PlayerTitleFontSize + @PlayerTitleMarginBottom
	+ @PlayerArtistFontSize + @PlayerArtistMarginBottom + @PlayerButtonSize;
@RoofLogoHeight: @RoofSize - @RoofPaddingTop - @RoofPaddingBottom;
@RoofLogoWidth: @RoofLogoHeight / 100 * 321;
@TagHeight: @TagFontSize + @TagPaddingVertical * 2;

// Colors
@BlockquoteBackground:     #E0FFC1;
@BlockquoteBorderColor:    #C1DBA6;
@BodyBackground:           #C3DAEE;
@BulletColor:              #3D3D3D;
@ClubLinkColor:            #5C7F31;
@CodeBackground:           #F3F3F3;
@CodeBorderColor:          #DDDDDD;
@CommentsCountColor:       #EEEEEE;
@CommentsCountShadowColor: #888888;
@CommentsCountTextColor:   #444444;
@CutBackground:            #E7FB9A;
@CutTextColor:             #006400;
@DarkDivingShadowColor:    #000000;
@DarkDivingTextColor:      #EEEEEE;
@DivingTextShadow:         #EEEEEE;
@ErrorMessageBackground:   #FDDDDD;
@ErrorMessageHovered:      #DFC3C3;
@ErrorMessageTextColor:    #841B40;
@FooterBackground:         #EEEEEE;
@FooterLinkColor:          #444444;
@FooterLinkColorHovered:   #5B83A4;
@FormButtonBackground1:    #A274F7;
@FormButtonBackground2:    #65499B;
@FormButtonBorderColor:    #BD9BFB;
@Heading1Color:            #444444;
@Heading2Color:            #663300;
@Heading5Color:            #3D3D3D;
@LightLinkColor:           #87BCDC;
@LightLinkColorHovered:    #3890C4;
@LinkColor:                #004385;
@LinkColorHovered:         #CA0000;
@LinkColorVisited:         #6E006E;
@ModerationStripesColor:   #FDEB73;
@NotificationBackground1:  #FFFF9C;
@NotificationBackground2:  #E0E089;
@Part2BorderColor:         #EEEEEE;
@PlayerBackground:         #FFFFFF;
@PlayerCoverBackground:    #3890C4;
@PlayerProgress1:          #A9A9A9;
@PlayerProgress2:          #D3D3D3;
@PlayerProgressInner:      #3890C4;
@PopupBackground:          #D8EDFF;
@PostMetaBackground:       #EEEEEE;
@PostMetaTextColor:        #444444;
@ReplyAvatarShadowColor:   #DDDDDD;
@RoofBackground1:          #F1FF9E;
@RoofBackground2:          #CCD87E;
@RoofBackgroundHovered1:   #E5F296;
@RoofBackgroundHovered2:   #C2CD78;
@RoofTextColor:            #444444;
@RoofTextColorImportant:   #D20000;
@SheetBackground:          #FFFFFF;
@SheetShadowColor:         #888888;
@TableBorderColor:         #EEEEEE;
@TableSelectionColor1:     #FFE86E;
@TableSelectionColor2:     #FFEC8B;
@TagBackground:            #D8EDFF;
@TagBackgroundHovered:     #9ECAED;
@TagShadowColor:           #5EABEE;
@TagTextColor:             #000000;
@TextareaBorderColor:      #DDDDDD;
@TextareaFocusBorderColor: #3993C6;
@TextareaFocusShadowColor: #DDDDDD;
@UserLinkColor:            #C20074;
@VisitCardMetaColor:       #808080;

// Styles
@import "article.less";
@import "blogslist.less";
@import "body.less";
@import "commons.less";
@import "comparing.less";
@import "content.less";
@import "cut.less";
@import "footer.less";
@import "form.less";
@import "inbox.less";
@import "leftlinks.less";
@import "lists.less";
@import "micro.less";
@import "multimedia.less";
@import "notifications.less";
@import "paginators.less";
@import "postmeta.less";
@import "pre.less";
@import "reply.less";
@import "roof.less";
@import "tags.less";
@import "visitcard.less";