.article {
	margin: @RoofMarginBottom 0 @SheetMarginBottom 0;
	overflow: hidden;
	padding-top: @MicroAvatarOut;
	position: relative;
	
	.background {
		background: @SheetBackground;
		border-radius: @SheetBorderRadius;
		bottom: @TagHeight / 2 + @TagShadowSize;
		left: @OuterButtonSize + @OuterButtonMargin + @SheetShadowSize;
		pointer-events: none;
		position: absolute;
		right: @SheetShadowSize;
		box-shadow: 0 0 @SheetShadowSize @SheetShadowColor;
		top: @MicroAvatarOut;
	}
	
	&.onmoderation {
		.background {
			background:
				url("img/onmoderation.png") repeat-x,
				linear-gradient(to bottom,
					fadeout(@SheetBackground, 100%) @MetaHeight * 0.5,
					@SheetBackground @MetaHeight * 3),
				repeating-linear-gradient(45deg,
					@ModerationStripesColor 0,
					@ModerationStripesColor @ModerationStripesInterval,
					@SheetBackground @ModerationStripesInterval,
					@SheetBackground @ModerationStripesInterval * 2);
		}
		
		.postmeta {
			background: none;
		}
	}
	
	.part1 {
		margin-top: 0;
		margin-right: @SheetShadowSize;
		margin-bottom: 0;
		padding-left: @OuterButtonSize + @OuterButtonMargin + @SheetShadowSize;
		position: relative;
		z-index: 1;
		
		.part1-internal {
			overflow: hidden;
			position: relative;
			top: 0;
		}
	}
	
	/**
		Снизу у part2 нет тегов, но для единообразия отступ всё равно вычисляется в их размерах.
	 */
	.part2 {
		margin-top: 0 - @TagHeight / 2 - @TagShadowSize;
		margin-right: @SheetShadowSize;
		margin-bottom: @TagHeight / 2 + @TagShadowSize;
		margin-left: @OuterButtonSize + @OuterButtonMargin + @SheetShadowSize;
		overflow: hidden;
		position: relative;
		
		&:before {
			background: @Part2BorderColor;
			content: "";
			display: block;
			height: 1px;
			margin-top: 0;
			margin-bottom: @TagHeight / 2 + @TagShadowSize;
			margin-left: 1;
		}
	}
}

.visitcard + .article {
	margin-top: 0;
}