.blogslist {
	background: @SheetBackground;
	border-radius: @SheetBorderRadius;
	box-shadow: 0 0 @SheetShadowSize @SheetShadowColor;
	margin: 0 @SheetShadowSize 0 0;
	padding: @ArticlePaddingTop @ArticlePaddingRight @ArticlePaddingBottom @ArticlePaddingLeft;
	
	h1 {
		color: @Heading1Color;
		font-weight: normal;
		margin: 0 0 1rem 0;
		padding: 0;
	}
	
	h2 {
		border-top: 1px solid #ccc;
		color: @Heading1Color;
		font-size: 1.2rem;
		font-weight: normal;
		margin: 1rem 0 0.3rem 0;
		padding: 1rem 0 0 0;
		
		&:first-of-type {
			border-top: none;
			padding-top: 0;
		}
	}
	
	a.sideaction {
		background: @TableSelectionColor1;
		border-radius: 0.8em;
		float: right;
		margin: 0;
		padding: 0.3em 1em;
		
		&.plus {
			background: url("img/plus.svg") left 0.8em center no-repeat, @TableSelectionColor1;
			background-size: 1em;
			padding-left: 2.2em;
		}
	}
	
	ul {
		font-size: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			border-radius: 0.3rem;
			display: inline-block;
			
			&:hover {
				background: #EEEEEE;
			}
			
			a {
				color: inherit;
				display: block;
				font-size: 1rem;
				padding: 0.7em 0.4em;
				text-decoration: none;
				width: (@SheetMaxWidth - 3rem) / 3;
				
				&:hover {
					color: inherit;
				}
				
				img.avatar {
					border-radius: 0.2rem;
					float: left;
					height: 2.5em;
					margin-right: 0.5rem;
				}
				
				span.user, span.club {
					display: block;
				}
				
				span.numoffollowers {
					color: @VisitCardMetaColor;
				}
			}
		}
	}
}