html {
	height: 100%;
	margin: 0;
}

body {
	background: @BodyBackground;
	display: table;
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

.main-wrapper {
	display: table-row;
	height: auto;
	padding: @RoofMarginTop 0 0 0;
	
	.main {
		margin: 0 auto;
		max-width: @SheetMaxWidth + @OuterButtonMargin + @OuterButtonSize;
		padding: @RoofMarginTop 0 2rem @SheetShadowSize;
	}
}

.footer {
	background: @FooterBackground;
	display: table-row;
	height: 1px;
}
