// Общие элементы: узнаваемые ссылки, кнопки и так далее

a {
	color: @LinkColor;
	&:hover   { color: @LinkColorHovered; }
	&:visited { color: @LinkColorVisited; }
	
	&.dotted {
		outline: none;
		text-decoration: none;
		border-bottom: 1px dotted @LinkColor;
		
		&:hover {
			border-bottom: 1px dotted @LinkColorHovered;
		}
		
		&:visited {
			color: @LinkColor;
			border-bottom: 1px dotted @LinkColor;
		}
	}
}

a.user {
	color: @UserLinkColor !important;
	font-weight: bold !important;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

a.club {
	color: @ClubLinkColor !important;
	font-weight: bold !important;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

span.user {
	color: @UserLinkColor !important;
	font-weight: bold !important;
}

span.club {
	color: @ClubLinkColor !important;
	font-weight: bold !important;
}

code {
	background: @CodeBackground;
	border: 1px solid @CodeBorderColor;
	border-radius: 0.25em;
}