table.comparing-articles {
	td {
		vertical-align: top;
		width: 50%;
		
		.article {
			.background, .shadow {
				left: @SheetShadowSize;
			}
			.postmeta {
				margin-left: @SheetShadowSize;
				padding-left: @ArticlePaddingLeft;
			}
			.part1 {
				padding-left: @SheetShadowSize;
			}
		}
	}
}