/**
	Содержимое поста либо комментария.
	(Если находится внутри .part1 — то это пост, если внутри .part2 — комментарий.)
 */
.content {
	overflow: hidden;
	margin-bottom: @TagHeight / 2 + @TagShadowSize;
	
	&.rounded {
		border-radius: 0 0 @SheetBorderRadius @SheetBorderRadius;
	}
	
	h2, h3, h4, h5, h6 {
		color: @Heading2Color;
		font-weight: normal;
		margin: 0;
		padding-top: 0.2em;
		padding-right: @ArticlePaddingRight;
		padding-left: @ArticlePaddingLeft;
		
		a {
			color: inherit;
			
			&:hover { color: @LinkColorHovered; }
		}
	}
	
	h2 {
		a:hover { color: inherit; }
	}
	
	// Для наиболее мелких подзаголовков — вообще другой стиль
	h5, h6 {
		color: @Heading5Color;
		font-family: serif;
	}
	
	// Размеры шрифтов
	h2 { font-size: 1.5rem; }
	h3 { font-size: 1.3rem; }
	h4 { font-size: 1.1rem; font-style: italic; }
	h5 { font-size: 1rem; font-style: italic; }
	h6 { font-size: 0.75rem; }
	
	// С <h2> связан особый стиль, так как это заголовок всего поста	
	h2 {
		padding-top: @ArticlePaddingTop;
		
		a {
			color: inherit;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		&.diving {
			position: absolute;
			text-shadow: 0 0 0.1em @DivingTextShadow;
			width: 100%;
			z-index: 10;
			
			&.dark {
				text-shadow: 0 0 0.1em @DarkDivingShadowColor;
				color: @DarkDivingTextColor;
			}
			
			&.hidden {
				opacity: 0;
				transition: opacity 0.3s linear;
			}
		}
	}
	
	&>p, .undercut>p, &>div, .undercut>div {
		margin: 0;
		padding-top: 0;
		padding-right: @ArticlePaddingRight;
		padding-bottom: @ArticleParagraphInterval;
		padding-left: @ArticlePaddingLeft;
		
		&.center {
			text-align: center;
		}
		
		&.last {
			padding-bottom: @ArticlePaddingBottom;
		}
	}
	&>p:first-child {
		padding-top: @ArticlePaddingTop;
	}
	
	blockquote {
		background: @BlockquoteBackground;
		border-left: 0.2em solid @BlockquoteBorderColor;
		margin: 0px 0px 0.5em 1.5em;
		padding: 0.2rem 0.6rem 0.2rem @ArticlePaddingRight;
	}
	
	p.wide, div.wide {
		padding: 0 0 @ArticleImageMarginBottom 0;
		
		img {
			display: block;
			width: 100%;
		}
		
		&.last {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	p.wide + p.wide {
		margin-top: 0 - @ArticleImageMarginBottom;
	}
	
	.react {
		font-size: 0.7rem;
		
		a {
			color: @LightLinkColor;
			text-decoration: none;
			
			&:hover {
				color: @LightLinkColorHovered;
				text-decoration: underline;
			}
		}
	}
	
	// // Между p и ul не нужны слишком большие зазоры
	// p + ul {
	// 	padding-top: 0 - @ArticleParagraphInterval;
	// }
}