div.cut {
	background: @CutBackground;
	color: @CutTextColor;
	margin-top: 0 - @ArticleParagraphInterval / 2;
	margin-bottom: @ArticleParagraphInterval / 2;
	padding-top: @ArticleParagraphInterval / 2;
	padding-right: @ArticlePaddingRight;
	padding-bottom: @ArticleParagraphInterval / 2;
	padding-left: @ArticlePaddingLeft;
	
	&:nth-last-child(2) {
		// не last-child, потому что после ката внезапно обычно андеркат :)
		margin-bottom: 0;
		padding-bottom: @ArticlePaddingBottom;
	}
	
	&:hover {
		cursor: pointer;
	}
}

div.undercut {
	display: none;
	padding: 0;
}

span.cut {
	border-bottom: 1px dotted @LinkColor;
	color: @LinkColor;
	text-decoration: none;
	
	&:hover {
		border-bottom: 1px dotted @LinkColorHovered;
		color: @LinkColorHovered;
		cursor: pointer;
	}
}

span.undercut {
	display: none;
}