.footer {
	.internal {
		font-size: 0.85rem;
		margin: 0 auto;
		max-width: @SheetMaxWidth + @OuterButtonMargin + @OuterButtonSize;
		text-align: right;
		padding: 1rem @SheetShadowSize 1rem @SheetShadowSize;
		width: 100%;
		
		td {
			vertical-align: top;
		}
	}
	
	a {
		color: @FooterLinkColor;
		
		&:hover {
			color: @FooterLinkColorHovered;
		}
	}
}

body.customized .footer {
	background: linear-gradient(to bottom, fadeout(@FooterBackground, 40%), @FooterBackground 90%);
	background: -webkit-linear-gradient(top, fadeout(@FooterBackground, 40%), @FooterBackground 90%);
}
