input[type="submit"], a.submit {
	background: @FormButtonBackground1;
	background: linear-gradient(to bottom, @FormButtonBackground1 30%, @FormButtonBackground2 100%);
	border: 1px solid @FormButtonBorderColor;
	border-radius: 0.2rem;
	color: white;
	font-family: sans-serif;
	font-size: @ReplyFontSize;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	position: relative;
	text-decoration: none;
	z-index: 10;
	
	&:hover {
		cursor: pointer;
	}
}

input[type="checkbox"] {
	vertical-align: middle;
}

button.big, input.big[type="submit"], a.submit.big {
	font-size: 1.1rem;
	padding: 0.1rem 0.8rem;
}

button.huge, input.huge[type="submit"], a.submit.huge {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
}	
	
form.reply-form {
	.replymeta {
		float: left;
	}
	
	.reply-form-controls-wrapper {
		margin-left: @ArticlePaddingLeft + @MicroAvatarSize + @MicroAvatarPadding;
		padding: 0;
		
		textarea.content {
			background: @SheetBackground;
			border: 1px solid @TextareaBorderColor;
			border-radius: @MicroAvatarRadius;
			box-sizing: border-box;
			display: block;
			font-family: sans-serif;
			font-size: @ReplyFontSize;
			height: @MicroAvatarSize;
			margin-bottom: 0.2rem;
			padding: 0.1rem 0.2rem;
			width: 100%;
			
			&:focus {
				border-color: @TextareaFocusBorderColor;
				box-shadow: 0 0 0.3rem @TextareaFocusShadowColor;
				rows: 6;
			}
		}
		
		.controls {
			.msg, .msg-close {
				background: @ErrorMessageBackground;
				color: @ErrorMessageTextColor;
				display: none;
			}
			.msg {
				margin-left: 0.5em;
				padding: 0 0.2em 0 0.4em;
			}
			.msg-close {
				padding: 0 0.2em 0 0.2em;
				&:hover {
					background: @ErrorMessageHovered;
					cursor: pointer;
				}
			}
		}
	}
}

form.write {
	h2 input[type="text"] {
		background: none;
		border-color: @TextareaBorderColor;
		border-style: none none solid none;
		border-width: 1px;
		color: inherit;
		font-size: inherit;
		width: 100%;
	}
	
	p textarea {
		background: none;
		border: none;
		height: 15em;
		resize: none;
		width: 100%;
	}
	
	input[type="submit"] {
		padding: 0.5rem 4rem;
	}
}