div.inbox {
	background: @SheetBackground;
	border-radius: @SheetBorderRadius;
	box-shadow: 0 0 @SheetShadowSize @SheetShadowColor;
	margin: 0 @SheetShadowSize @SheetMarginBottom 0;
	
	h1 {
		color: @Heading1Color;
		font-weight: normal;
		margin-bottom: 1rem;
		padding: @ArticlePaddingTop @ArticlePaddingRight 0 @ArticlePaddingLeft;
	}
	
	a.sideaction {
		background: @TableSelectionColor1;
		border-radius: 0.8em;
		float: right;
		margin: @ArticlePaddingTop @ArticlePaddingRight 0 0;
		padding: 0.3em 1em;
	}
	
	table {
		border-radius: 0 0 @SheetBorderRadius @SheetBorderRadius;
		border-spacing: 0;
		overflow: hidden;
		width: 100%;
		
		tr:nth-child(even) {
			td { background: @TableBorderColor; }
		}
		
		tr.unread {
			td { background: @TableSelectionColor2; }
			
			&:nth-child(even) {
				td { background: @TableSelectionColor1; }
			}
		}
		
		tr:last-child {
			border-radius: 0 0 @SheetBorderRadius @SheetBorderRadius;
		}
		
		th, td {
			&:first-child { padding-left: @ArticlePaddingLeft; }
			&:last-child { padding-right: @ArticlePaddingRight; }
		}
		
		th {
			font-style: italic;
			font-weight: normal;
			margin: none;
			padding: none;
			text-align: left;
			
			&:first-child { padding-left: @ArticlePaddingLeft; }
			&:last-child { padding-right: @ArticlePaddingRight; }
		}
		
		td {
			padding: 0.5em 1em 0.5em 0;
		}
	}
}