div.leftlinks {
	bottom: @TagHeight;
	left: 0;
	position: absolute;
	
	a {
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		height: @OuterButtonSize;
		margin-top: @OuterButtonInterval;
		outline: none;
		position: relative;
		width: @OuterButtonSize;
		text-decoration: none;
		
		span {
			background: @CommentsCountColor;
			border-radius: @OuterButtonOverlaySize / 2;
			box-shadow: 0 0 0.2em @CommentsCountShadowColor;
			color: @CommentsCountTextColor;
			font-size: 0.95 * @OuterButtonOverlaySize;
			font-weight: bold;
			line-height: @OuterButtonOverlaySize;
			padding-right: @OuterButtonOverlaySize / 3;
			padding-left: @OuterButtonOverlaySize / 3;
			position: absolute;
			right: 0 - 0.1 * @OuterButtonSize;
			top: 0 - 0.1 * @OuterButtonSize;
		}
		
		&.comments-button {
			background-image: url("img/comment.svg");
			
			&.waiting {
				animation: rotation linear 1s infinite;
				background-image: url("img/loading.png");
				background-position: top;
				background-size: cover;
				
				span {
					display: none;
				}
			}
			
			@keyframes rotation {
				0% {transform: rotate(0deg);}
				100% {transform: rotate(360deg);}
			}
		}
		
		&.help-button {
			background-image: url("img/help.svg");
		}
		
		&.approve-button {
			background-image: url("img/approval.svg");
		}
	}
	
	div.leftlinks-popup {
		background: @PopupBackground;
		border-radius: 0.2rem;
		box-shadow: 0 0 0.2rem gray;
		display: none;
		font-size: 0.9rem;
		left: 100%;
		margin-left: 0.5rem;
		min-width: 17rem;
		padding: 0.1rem 0.5rem;
		position: absolute;
		top: 0;
	}
}