.content, .microcontent, .visitcard, .promopage, .staticpage {
	ul {
		margin: 0;
		padding-top: 0;
		padding-right: @ArticlePaddingRight;
		padding-bottom: @ArticleParagraphInterval;
		padding-left: @ArticlePaddingLeft;
		
		&>li {
			color: black;
			list-style-type: none;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: @ArticleParagraphInterval;
			padding-left: @ArticleUlMargin + @ArticleUlBulletWidth;
			
			&:before {
				color: @BulletColor;
				content: "✓";
				display: block;
				float: left;
				font-weight: bold;
				margin-left: 0 - @ArticleUlBulletWidth;
				width: @ArticleUlBulletWidth;
			}
		}
		
		ul, ol {
			padding-top: @ArticleParagraphInterval;
			padding-left: @ArticleUlMargin;
		}
	}
}