.main.micro {
	max-width: @MicroPageWidth;
	
	.microsheet {
		background: white;
		border-radius: @SheetBorderRadius;
		box-shadow: 0 0 @SheetShadowSize @SheetShadowColor;
		font-size: 0.9rem;
		overflow: hidden;
		
		.roof {
			background: @PostMetaBackground;
			border-radius: 0;
			box-shadow: none;
			margin: 0;
			padding-left: 0;
			
			a.ongra-logo-link {
				margin-left: @RoofPaddingLeft;
			}
			
			h1 {
				font-weight: normal;
				
				a.pseudobold {
					color: inherit;
					cursor: default;
					outline: none;
					text-decoration: none;
					pointer-events: none;
				}
			}
			
			.rooftabs {
				margin: -0.5rem 0.5rem 0 0.6rem;
				padding: 0;
				text-align: right;
				
				a.tab {
					border-radius: 0.3rem 0.3rem 0 0;
					display: inline-block;
					padding: 0.3rem 0.4rem;
					text-decoration: none;
					
					&.current {
						background: white;
						color: black;
					}
				}
			}
		}
		
		.msg {
			background: @NotificationBackground1;
			padding: 0.2rem @ArticlePaddingRight 0.3rem @ArticlePaddingRight;
			text-align: center;
		}
		
		.microcontent {
			padding: @ArticlePaddingTop @ArticlePaddingRight @ArticlePaddingBottom @ArticlePaddingLeft;
			
			form {
				text-align: right;
				
				p {
					margin: 0 0 1rem 0;
					text-align: left;
				}
				
				label {
					text-align: left;
					display: block;
					width: 100%;
				}
				
				label.bigradio {
					border-radius: 0.3em;
					box-sizing: border-box;
					padding: 0.5em 0.2em;
					
					&:last-of-type {
						margin-bottom: 1rem;
					}
					
					&:hover {
						background: #EEEEEE;
					}
					
					input[type="radio"] {
						float: left;
					}
					
					.short {
						margin-left: 1.5rem;
					}
					
					.details {
						font-size: 0.85em;
						margin-left: 1.5rem;
					}
				}
				
				input[type="checkbox"] {
					text-align: left;
				}
				
				table {
					margin-bottom: 0.5em;
					width: 100%;
					
					td {
						&:first-of-type {
							padding-right: 0.7em;
							line-height: 1.5em;
							padding-bottom: 0.2rem;
							vertical-align: top;
							white-space: nowrap;
							width: 1px; // choose the minimal size that is possible
						}
						
						&.prefix, &.postfix {
							width: 1px;
						}
						
						input[type="text"], input[type="email"], input[type="password"], input[type="file"], select {
							background: none;
							border-color: #DDDDDD;
							border-style: none none solid none;
							border-width: 1px;
							color: #444;
							font-weight: 0.85em;
							height: 1.2rem;
							width: 100%;
						}
						
						label.bigradio {
							margin-bottom: 0;
						}
						
						textarea {
							background: none;
							border: none;
							color: #444;
							font-family: sans-serif;
							font-size: 0.85em;
							height: 7rem;
							line-height: 1.2rem;
							width: 100%;
						}
					}
				}
			}
		}
		
		.antiroof {
			background: @PostMetaBackground;
			font-size: 0.85rem;
			padding: 0.3rem 0;
			text-align: center;
			
			a {
				text-decoration: none;
				
				&:hover { text-decoration: underline; }
				&:visited { color: @LinkColor; }
			}
		}
	}
}