div.player {
	/**
		Audio player
	 */
	&.audio {
		background: @PlayerBackground;
		border-radius: @PlayerBorderRadius;
		display: block;
		margin: @ArticlePaddingTop @ArticlePaddingRight @ArticlePaddingBottom @ArticlePaddingLeft;
		padding: @PlayerPaddingVertical @PlayerPaddingHorizontal;
		position: relative;
		
		// Album cover image
		img {
			background-color: @PlayerCoverBackground;
			background-image: url('img/music.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 80%;
			box-shadow: 0 0 0.3rem gray;
			height: @PlayerCoverSize;
			position: absolute;
			width: @PlayerCoverSize;
		}
		
		// Song title
		.title {
			display: block;
			font-size: @PlayerTitleFontSize;
			font-weight: bold;
			line-height: @PlayerTitleFontSize;
			margin-bottom: @PlayerTitleMarginBottom;
			margin-left: @PlayerCoverSize + @PlayerCoverPadding;
		}
		
		// Artist name
		.artist {
			font-size: @PlayerArtistFontSize;
			line-height: @PlayerArtistFontSize;
			margin-bottom: @PlayerArtistMarginBottom;
			margin-left: @PlayerCoverSize + @PlayerCoverPadding;
		}
		
		.controls {
			height: @PlayerButtonSize;
			margin-left: @PlayerCoverSize + @PlayerCoverPadding;
			position: relative;
			
			// One of buttons aroung the progressbar
			.button {
				background-repeat: no-repeat;
				background-size: contain;
				border: none;
				color: transparent;
				display: inline-block;
				height: @PlayerButtonSize;
				position: absolute;
				top: 0;
				vertical-align: bottom;
				width: @PlayerButtonSize;
				
				&:hover {
					cursor: pointer;
				}
				
				&.play     { background-image: url("img/play.svg");               }
				&.pause    { background-image: url("img/pause.svg");              }
				&.replay   { background-image: url("img/replay.svg");             }
				&.download { background-image: url("img/download.svg"); right: 0; }
			}
			
			// The default controls which will be shown if JavaScript won't work for some reason
			audio {
				vertical-align: bottom;
			}
			
			// The custom progressbar
			.progress {
				height: @PlayerProgressHeight;
				left: 2rem;
				position: absolute;
				right: 2rem;
				
				progress {
					background: linear-gradient(to bottom, @PlayerProgress1 0%, @PlayerProgress2 100%);
					background: -webkit-linear-gradient(top, @PlayerProgress1 0%, @PlayerProgress2 100%);
					border: none;
					border-radius: @PlayerProgressHeight / 3;
					height: 0.5rem;
					overflow: hidden;
					vertical-align: middle;
					width: 100%;
					
					&::-moz-progress-bar {
						background: @PlayerProgressInner;
					}
				}
			}
		}
	}
	
	/**
		Video player
	 */
	&.video {
		position: relative;
		width: 100%;
		
		&.last {
			border-radius: 0 @SheetBorderRadius 0 @SheetBorderRadius;
			overflow: hidden;
		}
		
		// Thhumbnail
		a.thumbnail {
			background: black;
			display: block;
			height: 100%;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;
			
			// Big white Play button
			&:before {
				background-image: url("img/play-white.svg");
				background-opacity: 0.5;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 20%;
				content: "";
				display: block;
				filter: opacity(60%) drop-shadow(0 0 1rem black);
				-webkit-filter: opacity(60%) drop-shadow(0 0 1rem black);
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;
			}
			
			// when hovered, Play button becomes blue and opaque
			&:hover:before {
				background-image: url("img/play.svg");
				filter: drop-shadow(0 0 1rem black);
				-webkit-filter: drop-shadow(0 0 1rem black);
			}
		}
		
		// The video itself
		iframe, video {
			background: black;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}