.notification {
	background: linear-gradient(to bottom, @NotificationBackground1 30%, @NotificationBackground2 100%);
	background: -webkit-linear-gradient(top, @NotificationBackground1 30%, @NotificationBackground2 100%);
	border-radius: @RoofBorderRadius;
	box-shadow: 0 0 @SheetShadowSize darkgray;
	margin-right: @SheetShadowSize;
	margin-bottom: 1em;
	margin-left: @OuterButtonSize + @OuterButtonMargin + @SheetShadowSize;
	padding: 0.5em 1em;
}