.paginator {
	margin-right: @SheetShadowSize;
	margin-bottom: @SheetMarginBottom;
	text-align: right;
	
	a, span {
		background: @SheetBackground;
		border-radius: @SheetBorderRadius;
		box-shadow: 0 0 @SheetShadowSize @SheetShadowColor;
		display: inline-block;
		margin-left: 0.3em;
		padding: 0.2em 0.5em;
		text-decoration: none;
		
		&.earlier {
			padding: 0.6em 1.2em;
		}
	}
	
	a:hover {
		background: @TableSelectionColor1;
		color: @LinkColorHovered !important;
	}
	
	// Don't highlight visited pages
	a:visited {
		color: @LinkColor;
	}
	
	span {
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.6rem 0.6rem;
	}
}