/*
	Метаблок наверху поста.
	
	Содержит аватару, которая абсолютно позиционируется в нужное место и вылезает краями наружу,
	текст, который отступом ставится туда, где кончается аватара,
	и маленькую иконку-ссылку на пост далеко в правом конце.
*/
.postmeta {
	background: @PostMetaBackground;
	border-radius: @SheetBorderRadius @SheetBorderRadius 0 0;
	color: @PostMetaTextColor;
	font-size: 0.9em;
	line-height: @MetaHeight;
	margin-right: @SheetShadowSize;
	margin-left: @OuterButtonSize + @OuterButtonMargin + @SheetShadowSize;
	padding-right: @MetaPaddingRight;
	padding-left: @ArticlePaddingLeft + @AvatarSize + 0.5rem;
	position: relative;
	z-index: 2;
	
	a.avatar {
		display: block;
		height: @AvatarSize;
		left: @ArticlePaddingLeft;
		position: absolute;
		top: -@AvatarOut;
		width: @AvatarSize;
		
		img {
			border-radius: @AvatarRadius;
			display: block;
			height: @AvatarSize;
			width: @AvatarSize;
		}
	}
	
	div.icons-right {
		display: block;
		margin-top: (@MetaHeight - 1rem) / 2;
		position: absolute;
		right: @MetaPaddingRight;
		top: 0;
		
		a {
			opacity: 0.6;
			
			&:hover {
				opacity: 1;
			}
			
			img {
				height: 1em;
			}
		}
	}
}

.article.onmoderation .postmeta {
	// background: repeating-linear-gradient(45deg,
	// 	@ModerationStripesColor 0,
	// 	@ModerationStripesColor @ModerationStripesInterval,
	// 	@SheetBackground @ModerationStripesInterval,
	// 	@SheetBackground @ModerationStripesInterval * 2);
}