pre {
	background: @CodeBackground;
	border: 1px solid @CodeBorderColor;
	border-radius: 0.25em;
	margin: 0 @ArticlePaddingRight @ArticlePaddingLeft @ArticleParagraphInterval;
	padding: 0.5rem 0.5rem;
	tab-size: 4;
		-moz-tab-size: 4;
	white-space: pre-wrap;
}