.reply {
	font-size: @ReplyFontSize;
	margin-right: @ArticlePaddingRight;
	margin-bottom: @ReplyInterval;
	
	a.avatar {
		// .hilite(blue);
		display: inline-block;
		float: left;
		height: @MicroAvatarSize;
		margin-left: @ArticlePaddingLeft;
		top: 0.1rem;
		width: @MicroAvatarSize;
		
		img {
			border-radius: @MicroAvatarRadius;
			height: @MicroAvatarSize;
			width: @MicroAvatarSize;
		}
	}
	
	.replymeta {
		color: @PostMetaTextColor;
		display: inline-block;
		font-size: 0.8rem;
		height: @MicroMetaHeight;
		line-height: @MicroMetaHeight;
		margin-left: @ArticlePaddingLeft;
		position: relative;
		
		a.icon {
			vertical-align: middle;
			opacity: 0.4;
			
			&:hover {
				opacity: 1;
			}
			
			img {
				height: 1em;
			}
		}
	}
	
	/**
		Содержимое коммента.
		Этот стиль наследуется от содержимого поста, см. content.less.
		Технически не имеет ничего общего с textarea.content из form.less.
	 */
	div.content {
		margin-bottom: @ReplyPaddingBottom;
		margin-left: @MicroAvatarSize + @MicroAvatarPadding;
		
		&>p, .undercut>p {
			padding-bottom: @ReplyParagraphInterval;
		}
		
		&>p:first-child {
			padding-top: @ReplyPaddingTop;
		}
	}
	
	.replies {
		margin-top: @ReplyInterval;
		margin-left: @ReplyIndent;
	}
}