.roof {
	background: linear-gradient(to bottom, @RoofBackground1 30%, @RoofBackground2 100%);
	background: -webkit-linear-gradient(top, @RoofBackground1 30%, @RoofBackground2 100%);
	border-radius: @RoofBorderRadius;
	box-shadow: 0 0 @SheetShadowSize darkgray;
	margin-right: @SheetShadowSize;
	margin-bottom: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: @RoofPaddingLeft;
	position: relative;
	
	img.ongra-logo {
		color: @RoofTextColor;
		font-size: @RoofLogoHeight;
		font-style: italic;
		height: @RoofLogoHeight;
		overflow: hidden;
		width: @RoofLogoWidth;
	}
	
	a.ongra-logo-link {
		display: inline-block;
		font-size: 0;
		left: 0;
		margin-top: @RoofPaddingTop;
		margin-bottom: @RoofPaddingBottom;
		position: relative;
		text-decoration: none;
	}
	
	ul.right-buttons, h1 {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		
		& > li {
			color: @RoofTextColor;
			float: left;
			position: relative;
			
			& > a {
				color: inherit;
				display: block;
				line-height: @RoofSize;
				margin: 0;
				padding: 0 @RoofButtonPadding;
				text-decoration: none;
			}
			
			&.important {
				color: @RoofTextColorImportant;
				font-weight: bold;
			}
			
			& > div {
				background: @RoofBackgroundHovered2;
				border-radius: 0 0 @RoofBorderRadius @RoofBorderRadius;
				display: none;
				min-width: 8rem;
				padding: 0.5rem 0.5em;
				position: absolute;
				right: 0;
				z-index: 100;
				
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					white-space: nowrap;
					
					li {
						a {
							border-radius: 0.2rem;
							color: inherit;
							display: block;
							padding: 0.2rem 0.5rem;
							text-decoration: none;
							
							&:hover {
								background: @RoofBackgroundHovered1;
							}
						}
					}
				}
			}
			
			&:last-child {
				& > a {
					border-radius: 0 @RoofBorderRadius 0 0;
				}
			}
			
			&:hover {
				& > a {
					background: linear-gradient(to bottom, @RoofBackgroundHovered1 30%, @RoofBackgroundHovered2 100%);
					background: -webkit-linear-gradient(top, @RoofBackgroundHovered1 30%, @RoofBackgroundHovered2 100%);
				}
			}
				
			&:hover {
				& > div {
					display: block;
				}
			}
		}
	}
	
	h1 {
		color: @RoofTextColor;
		line-height: @RoofSize;
		font-size: 0.5 * @RoofLogoHeight;
		font-weight: bold;
		padding-right: @RoofPaddingRight;
		text-shadow: inset 0 0 0.2em white;
	}
}