div.tags {
	bottom: 0;
	font-size: @TagFontSize;
	line-height: @TagHeight;
	margin-top: 0 - 2 * (@TagHeight / 2 + @TagShadowSize);
	margin-right: @ArticlePaddingRight;
	margin-left: 0;
	min-height: @TagHeight + @TagShadowSize * 2;
	pointer-events: none;
	position: relative;
	text-align: right;
	
	&.overlay {
		position: absolute;
	}
	
	& > a, span, input[type="text"] {
		background: @TagBackground;
		border: none;
		box-shadow: 0 0 @TagShadowSize @TagShadowColor;
		color: @TagTextColor;
		display: inline-block;
		font-size: inherit;
		height: @TagHeight;
		line-height: @TagHeight;
		margin-top: @TagShadowSize;
		margin-bottom: @TagShadowSize;
		margin-left: @TagMarginHorizontal;
		padding: 0 @TagPaddingHorizontal;
		pointer-events: auto;
		text-decoration: none;
		white-space: nowrap;
		
		a {
			background: url("img/close.svg");
			background-size: contain;
			color: white;
			display: inline-block;
			font-size: 0;
			height: 0.8 * @TagFontSize;
			vertical-align: middle;
			text-align: center;
			text-decoration: none;
			width: 0.8 * @TagFontSize;
		}
		
		&.fadetoyellow {
			background: orange;
			transition: background-color 0.3s linear;
		}
	}
	
	& > a:hover {
		background-color: @TagBackgroundHovered;
	}
	
	input[type="text"] {
		font-size: @TagFontSize;
		vertical-align: bottom;
		width: 10em;
	}
}