.visitcard {
	background: @SheetBackground;
	border-radius: 0 0 @VisitCardBorderRadius @VisitCardBorderRadius;
	margin-top: 0;
	margin-right: @RoofBorderRadius + @SheetShadowSize;
	margin-bottom: @VisitCardMarginBottom;
	margin-left: @RoofBorderRadius;
	overflow: hidden;
	
	table {
		border-spacing: 0;
		width: 100%;
		
		td.left {
			padding: 0;
			vertical-align: top;
			
			img {
				display: block;
				max-width: 20rem;
			}
		}
		
		td.right {
			padding: 0 @VisitCardPaddingRight @VisitCardPaddingBottom @VisitCardPaddingCenter;
			vertical-align: top;
			width: 100%;
			
			h1 {
				color: @UserLinkColor;
				font-size: 2.5rem;
				margin: 1.5rem 0 0 0;
				
				&.club {
					color: @ClubLinkColor;
				}
				
				.love {
					background: url("img/heart.svg");
					background-repeat: no-repeat;
					background-size: contain;
					display: inline-block;
					height: 1ex;
					opacity: 0.2;
					width: 1ex;
					
					&:hover {
						opacity: 0.4;
					}
					
					&.active {
						opacity: 1;
					}
				}
			}
			
			a.inline-icon {
				opacity: 0.6;
				overflow: hidden;
				
				&:hover {
					opacity: 1;
				}
				
				img {
					height: 0.8em;
				}
			}
			
			.meta {
				color: @VisitCardMetaColor;
				
				a {
					color: inherit;
					font-weight: bold;
					// text-decoration: none;
					
					&:hover {
						color: @LightLinkColorHovered;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

// When page has a background, make the visitcard semitransparent
body.customized .visitcard {
	background: fadeout(@SheetBackground, 25%);
}