{{% import ongra; }}
{{% import std.datetime; }}

		</div>
	</div>
	
	<div class="footer">
		<!--noindex-->
		<table class="internal">
			<tr>
				<td style="text-align:left;">
					{{ Config.meta.SiteName }}, 2014-{{ Clock.currTime().year }}<br/>
					<a href="{{ App.url!"EditorsChoice" }}">{{ say!"feeds/best/in footer" }}</a> &bull;
					<a href="{{ App.url!"Credits" }}">{{ say!"credits/title" }}</a>
				</td>
				<td>
					<a href="mailto:admin@ongra.net">admin@ongra.net</a>
				</td>
			</tr>
		</table>
		<!--/noindex-->
	</div>
</body>