{{%
struct Data {
	Entry post;
	Entry comment;
}
Data d = loadTplData!Data(_arguments);
}}

<div class="reply" data-pubid="{{ pubid(d.comment) }}" id="{{ d.comment.anchor(d.post) }}">
	
	<a class="avatar" href="{{ App.router.makeLink(d.comment.author) }}"><img src="{{
		d.comment.author.primaryUserpicUrl()
	}}"/></a>
	<div class="replymeta">
		{{% string userLink = App.router.makeLink(d.comment.author); }}
		<a class="user" href="{{ userLink }}">{{ d.comment.author.nick }}</a>,
		{{? d.comment.rootParent.id == d.comment.id }}
			{{ d.comment.created }}, {{ say!"comment/replied in own blog" }}
		{{:}}
			{{ d.comment.created }}
		{{/}}
		
		<a class="icon" href="{{ App.router.makeLink(d.comment, d.post) }}" title="ссылка"><img src="{{ App.url!"Static" }}/img/link.svg"/></a>
		
		{{? d.comment.rootParent.id == d.comment.id }}
			<a class="icon" href="{{ App.router.makeLink(d.comment) }}" title="ссылка на отдельную страницу">
				<img src="{{ App.url!"Static" }}/img/externallink.svg"/>
			</a>
		{{/}}
	</div>
	
	<div class="content">
		
		{{ d.comment.toHtml() |none}}
		
		<!--noindex-->
		<p class="react">
			{{? Access.canComment(d.comment) }} <a href="#" class="react-reply">{{ say!"comment/reply to reply" }}</a> {{/}}
			{{! if (comment.author.id == App.ram.user.id) { }}
			{{! 	<a href="#" class="react-edit">изменить</a>  }}
			{{! 	<a href="#" class="react-delete">удалить</a> }}
			{{! {{/}}
		</p>
		<!--/noindex-->
	</div>
	
	<div class="replies" id="replies-{{ pubid(d.comment) }}">
		{{* subcomment; d.comment.children }}
			{{ renderString!"skin/parts/comment.tpl.html.d.mixin"(tuple!("comment", "post")(subcomment, d.post)) |none}}
		{{/}}
	</div>
	
</div>