<!doctype html>
<head>
	<meta charset="utf-8"/>
	<title>{{ App.rt.title }}</title>
	<link rel="shortcut icon" href="{{ App.url!"Static" }}/img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{{ App.url!"Static" }}/ongra.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/lib/jquery.autosize.min.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/colorized.js"></script>
	
	{{?! App.rt.indexable }}
		<meta name="robots" content="noindex"/>
	{{/}}
	
	<!-- Configuration (used by JavaScript) -->
	<meta name="ajaxDomain" content="{{ Config.domains.Ajax }}"/>
</head>
<body>
	<div class="main-wrapper">
		<div class="main micro">
			<div class="microsheet">
				<div class="roof">
					<a class="ongra-logo-link" href="{{ App.url!"Main" }}">
						{{? App.rt.errorMode }}
							<img class="ongra-logo" src="{{ App.url!"Static" }}/img/ongra-flame.png" alt="ongra"/>
						{{:}}
							<img class="ongra-logo" src="{{ App.url!"Static" }}/img/ongra-gray.png" alt="ongra"/>
						{{/}}
					</a>
					<h1>{{ App.rt.titleHtml ? App.rt.titleHtml : App.rt.title  }}</h1>
				</div>
				
				{{* message; App.rt.messages }}
					<div class="msg">{{ message }}</div>
				{{/}}
				
				<div class="microcontent">