{{% import liara.parser; }}
{{% import std.regex; }}
{{% import vibe.inet.url; }}

{{? post.status == Entry.Status.OnModeration }}
<div class="article onmoderation" data-pubid="{{ pubid(post) |none}}">
{{:}}
<div class="article" data-pubid="{{ pubid(post) |none}}">
{{/}}
	<div class="background"></div>
	<div class="shadow"></div>
	<div class="postmeta">
		{{% string userLink = App.router.makeLink(post.author); }}
		<a class="avatar" href="{{ userLink |none}}"><img src="{{ post.author.primaryUserpicUrl() |none}}"/></a>
		<span class="textmeta">{{ post.htmlMeta(showClubInMeta) |none}}</span>
		
		<div class="icons-right">
			{{? post.author.id == App.ram.user_id }}
				<a href="{{ App.router.makeEditLink(post) }}"><img src="{{ App.url!"Static" }}/img/pencil.svg" alt="изменить"/></a>
				{{! <a href="#" class="delete-post"><img src="{{ App.url!"Static" /img/delete.svg" alt="удалить"/></a> }}
			{{/}}
			<a href="{{ App.router.makeLink(post) }}"><img src="{{ App.url!"Static" }}/img/link.svg" alt="ссылка"/></a>
		</div>
	</div>
	<div class="part1">
		<div class="part1-internal">
			
			<div class="content{{?!showComments}} rounded{{/}}">
				
				{{? post.title.length > 0 }}
					{{? post.openingType == OpeningType.WideImage }}
					<h2 class="diving">
					{{: post.openingType == OpeningType.DarkWideImage }}
					<h2 class="diving dark">
					{{:}}
					<h2>
					{{/}}
						{{?!showComments}} <a href="{{ App.router.makeLink(post) }}"> {{/}}
						{{ post.title }}
						{{?!showComments}} </a> {{/}}
					</h2>
				{{/}}
				
				{{? post.format == Entry.Format.Review }}
					{{? post.meta["market_plus"].length > 0 }}
						<h3>Достоинства</h3>
						<p>{{ post.meta["market_plus"].replaceAll(ctRegex!`(?:<br\s*/?>\s*)+`, `</p><p>`) }}</p>
					{{/}}
					
					{{? post.meta["market_minus"].length > 0 }}
						<h3>Недостатки</h3>
						<p>{{ post.meta["market_minus"].replaceAll(ctRegex!`(?:<br\s*/?>\s*)+`, `</p><p>`) }}</p>
					{{/}}
					
					{{? post.meta["market_comment"].length > 0 }}
						<h3>Комментарий</h3>
						<p>{{ post.meta["market_comment"].replaceAll(ctRegex!`(?:<br\s*/?>\s*)+`, `</p><p>`) }}</p>
					{{/}}
				{{/}}
				
				{{? post.format == Entry.Format.Link }}
					<p class="external-link">
						<a href="{{ post.meta["link"] }}"><img src="http://favicon.yandex.net/favicon/{{ URL(post.meta["link"]).host }}"/></a>
						<a href="{{ post.meta["link"] }}">{{ post.meta["link"] }}</a>
					</p>
				{{/}}
				
				{{ post.toHtml() |none}}
				
			</div>
			
			{{? post.tags }}
				<div class="tags">
					{{* string tag; post.tags }}
						{{! string tagLink = App.url!"BlogTag"(["name":post.blog.name, "tag":tag.replace(" ","_")]); }}
						{{! <a href="{{ tagLink ">{{ tag </a> }}
						<span>{{ tag }}</span>
					{{/}}
				</div>
			{{/}}
			
		</div>
		<div class="leftlinks">
			{{? post.status == Entry.Status.OnModeration && Access.canApprove(post) }}
				<a class="approve-button" href="{{ App.url!"ApproveEntry" }}?pubid={{ pubid(post) }}"></a>
			{{/}}
			
			{{? post.status == Entry.Status.OnModeration }}
			<a class="comments-button" href="{{ App.router.makeLink(post) }}" style="display:none;">
			{{:}}
			<a class="comments-button" href="{{ App.router.makeLink(post) }}">
			{{/}}
				<span>{{ post.pf_commentsCount }}</span>
			</a>
		</div>
	</div>
	
	<div class="part2" {{? !showComments && post.status!=Entry.Status.OnModeration }} style="max-height:0;" {{/}}>
		
		{{! Show reply form for non-anonymous users }}
		{{? App.ram.user }}
			<div class="reply pseudo">
				<form class="reply-form" method="POST">
					<a class="avatar" href="{{ App.router.makeLink(App.ram.user) }}">
						<img src="{{ App.ram.user.primaryUserpicUrl() }}"/>
					</a>
					<div class="reply-form-controls-wrapper">
						<textarea class="content" name="content"
							placeholder="{{ say!"comment/placeholder" }}"></textarea>
						<div class="controls">
							<input type="submit" value="{{ say!"comment/ok" }}"/>
							<label><input type="checkbox" name="hamster-mode"/>{{ say!"comment/hamster mode" }}</label>
							<span class="msg">Hmm.</span><span class="msg-close">×</span>
						</div>
					</div>
					
					<input type="hidden" name="root" value="{{ pubid(post) }}"/>
					<input type="hidden" name="parent" value="{{ pubid(post) }}"/>
					<input type="hidden" name="session" value="{{ App.ram.sid }}"/>
				</form>
			</div>
		{{/}}
		
		<div id="replies-{{ pubid(post) }}">
			
			{{? showComments }}
				{{ renderString!"skin/parts/allcomments.tpl.html.d.mixin"(tuple!("post")(post)) |none}}
			{{/}}
			
		</div>
	</div>
</div>