<!doctype html>
<head>
	<meta charset="utf-8"/>
	<title>{{  App.rt.title  }}</title>
	<link rel="shortcut icon" href="{{ App.url!"Static" }}/img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{{ App.url!"Static" }}/ongra.css"/>
	<link rel="stylesheet" type="text/css" href="{{ App.url!"Static" }}/js/lib/highlightjs-styles/github.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/lib/highlight.pack.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/lib/jquery.autosize.min.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/lib/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/code.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/colorized.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/cuts.js"></script>
	<script type="text/javascript" src="{{ App.url!"Static" }}/js/multimedia.js"></script>
	
	{{?! App.rt.indexable }}
	<meta name="robots" content="noindex"/>
	{{/}}
	
	<!-- Configuration (used by JavaScript) -->
	<meta name="ajaxDomain" content="{{ Config.domains.Ajax }}"/>
</head>
<body>
	<div class="main-wrapper">
		<div class="main"{{? App.rt.fullWidth }} style="max-width: 100% !important;"{{/}}>
			
			<div class="roof">
				<a class="ongra-logo-link" href="{{ App.url!"Main" }}">
					<img class="ongra-logo" src="{{ App.url!"Static" }}/img/ongra-gray.png" alt="ongra"/>
				</a>
				
				<!--noindex-->
				<ul class="right-buttons">
					{{?! App.ram.user_id }}
						
						<li><a href="{{ App.url!"Register" }}">{{ say!"menu/signup" }}</a></li>
						<li><a href="{{ App.url!"Login" }}">{{ say!"menu/login" }}</a></li>
					
					{{: App.ram.user.primaryBlog !is null }}
						
						{{% auto numOfReplies = App.numOfUnreadReplies(); }}
						{{? numOfReplies > 0 }}
							<li class="important"><a href="{{ App.url!"Inbox" }}">{{
								say!"inbox/n replies"(numOfReplies) }}</a></li>
						{{/}}
						
						<li>
							<a href="{{ App.url!"NewPost"(["name":App.ram.user.primaryBlog.name]) }}"
								>{{ say!"menu/write" }}</a>
							<div>
								<ul>
									<li><a href="{{ App.url!"BlogsByUser"(["name":App.ram.user.primaryBlog.name]) }}?write"
										>{{ say!"menu/write to blog" }}</a></li>
								</ul>
							</div>
						</li>
						
						<li>
							<a href="{{ App.router.makeLink(App.ram.user) }}" class="user">{{ App.ram.user.nick }}</a>
							<div>
								<ul>
									<li><a href="{{ App.url!"BlogsByUser"(["name":App.ram.user.primaryBlog.name]) }}"
										>{{ say!"menu/my blogs" }}</a></li>
									<li><a href="{{ App.url!"Logout" }}">{{ say!"menu/logout" }}</a></li>
								</ul>
							</div>
						</li>
						
					{{:}}
						
						{{! Number of unread replies for current user }}
						{{% auto numOfReplies = App.numOfUnreadReplies(); }}
						{{? numOfReplies > 0 }}
							<li class="important"><a href="{{ App.url!"Inbox" }}">{{
								say!"inbox/n replies"(numOfReplies) }}</a></li>
						{{/}}
						
						{{! Link for starting a new blog }}
						<li><a href="{{ App.url!"NewBlog" }}">{{ say!"menu/new blog" }}</a></li>
						
						{{! Link for logout }}
						<li><a href="{{ App.url!"Logout" }}">{{ say!"menu/logout" }}</a></li>
						
					{{/}}
				</ul>
				<!--/noindex-->
			</div>