{{? d.paginator.hasLeft || d.paginator.hasRight }}
	<!--noindex-->
	<div class="paginator">
		{{? d.paginator.hasLeft  }}
			<a href="{{ d.paginator.leftLink() }}" class="later">« {{ say!"paginator/later" }}</a>
		{{/}}
		{{? d.paginator.hasRight }}
			<a href="{{ d.paginator.rightLink() }}" class="earlier">{{ say!"paginator/earlier" }} »</a>
		{{/}}
	</div>
	<!--/noindex-->
{{/}}